# Python Ka Chilla with Baba_Aammar
## How to use Jupyter Notebook
## Basics of Python

 ### **01- My first program**

In [1]:
print(2+3)
print("Hello World")
print("We are learning with Aammar")

5
Hello World
We are learning with Aammar

### **02- Operators**

In [2]:
print(2+3)
print(3-1)
print(2*3)
print(6/2)
print(6//2)
print(9%2)
print(2**3)

print(2**3*2/2+8-6)

5
2
6
3.0
3
1
8
10.0

### **03- Strings**

In [3]:
print('My name is Suresh')
print("My name is Suresh")
print('''My name is Suresh''')
print("what's up")

My name is Suresh
My name is Suresh
My name is Suresh
what's up

### **04- Comments**
The shortcut key to comments is **Ctrl/**

In [4]:
print("How are you") #press this to comment out (Ctrl+/)
print("We are learning with Dr Aammar") #print a string
print(2+5) #print operator function with numbers

How are you
We are learning with Dr Aammar
7

### **05- Variables**
**Variables:** Object containing specific values
#### Rules to assign a variable
- The variable should contain letters, numbers or underscores
- Do not start with numbers... for suppose 2x
- Spaces are not allowed
- Do not use keywords used in functions (break, mean, median, test etc)
- Short and descriptive
- Case sensitivity (lowercase, uppercase letters... lowercase letters are suggested)

In [5]:
x=5  #numeric or integer variable
print(x)

y="we are Pakistani" #string variable
print(y)

x=x+10 #or x=15
print(x)

5
we are Pakistani
15

**types/class of variables**

In [6]:
print(type(x))
print(type(y))

fruit_basket= "Mangoes"
print(fruit_basket)
print(type(fruit_basket))

<class 'int'>
<class 'str'>
Mangoes
<class 'str'>

### **06- Input variables**

In [7]:
#simple input function
fruit_basket=input("what is your favourite fruit? ")
print(fruit_basket)

#2nd stage input functions
name= input("what is your name? ")
greatings= "Hello!"
print(greatings, name)

#2nd stage input functions (another way)
name= input("what is your name? ")
print("Hello!", name)

#3rd stage input functions
name= input("what is your name? ")
age= input("what is your age? ")
greatings= "Hello!"
print(greatings, name, ",You are still young")

what is your favourite fruit? Apple
Apple
what is your name? Suresh
Hello! Suresh
what is your name? Suresh
Hello! Suresh
what is your name? Suresh
what is your age? 27
Hello! Suresh ,You are still young

### **07- Conditional logics**
logical operators are either "true or false" or "yes or no" or "0 or 1"
- equal to                               ==
- not equal to                           !=
- less then                              <
- greater than                           >
- less than and equal to                 <=
- greater than and equal to              >=

In [16]:
#is 4 equal to 4?
print(4==4)
print(4!=4)
print(4<6)
print(4>3)
print(5<=6)
print(6>=5)

#application of logical operators
hammad_age=4
age_at_school=5
print(hammad_age!=age_at_school)
print(hammad_age==age_at_school)

#input functions and logical operators
hammad_age=input("what is the age of hammad? ")
hammad_age=int(hammad_age)
age_at_school=5 
print(hammad_age==age_at_school)

True
False
True
True
True
True
True
False
what is the age of hammad? 4
False

### **08- Type conversion**

In [9]:
x=5
y=10.3

#implicit type conversion
x=x+y
print(x, "type of x is:", type(x))

#explicit type conversion
age=input("what is your age? ")
print(age, type(int(age)))

#name
name=input("what is your name? ")
print(name, type(str(name)))

15.3 type of x is: <class 'float'>
what is your age? 27
27 <class 'int'>
what is your name? Suresh
Suresh <class 'str'>

### **09- If elif else statements**

In [10]:
hammad_age=1
age_required_at_school=5

#question: can hammad join the the school?
if hammad_age==age_required_at_school:
    print("congratulations! hammad can join the school.")
elif hammad_age>age_required_at_school:
    print("hammad should join high secondary school")
elif hammad_age<=2:
    print("please take care of hammad, he is still baby!")
else:
    print("hammad can not join the school")

please take care of hammad, he is still baby!

### **10- Functions**

In [11]:
#defining a function

# 1
def print_codanics():
    print("we are learning with aammar")
    print("we are learning with aammar")
    print("we are learning with aammar")
print_codanics()

# 2
def print_codanics():
    text= "we are learning with aammar"
    print(text)
    print(text)
    print(text)
print_codanics()

# 3
def print_codanics(text):
    print(text)
    print(text)
    print(text)
print_codanics("we are learning python with aammar")

# defining a function with if, elif, else statements
def school_calculator(age):
    if age==5:
        print("congratulations! hammad can join the school.")
    elif age>5:
        print("hammad should join high secondary school")
    else:
        print("hammad is still a baby")
# school_calculator(5)

# defining a function of future
def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)

future_predicted_age= future_age(20)
print(future_predicted_age)

we are learning with aammar
we are learning with aammar
we are learning with aammar
we are learning with aammar
we are learning with aammar
we are learning with aammar
we are learning python with aammar
we are learning python with aammar
we are learning python with aammar
40

### **11- Loops**

In [12]:
# while and for loops

# while loop
x=0
while(x<5):
    print(x)
    x=x+1

# for loop
for x in range(5,10):
    print(x)


# arrays
days= ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for d in days:
    # if (d=="Fri"):break   #loop stops
    if (d=="Fri"):continue  #loop skips d
    print(d)

0
1
2
3
4
5
6
7
8
9
Mon
Tue
Wed
Thu
Sat
Sun

### **12- Import libraries**

In [13]:
# if you want to print the value of Pi
import math
print("The value of Pi is:", math.pi)

#if you want to calculate mean
import statistics
x=[150,250,350,450]
print(statistics.mean(x))

The value of Pi is: 3.141592653589793
300

**some important libraries**
1- numpy
2- pandas

### **13- Trouble shooting**

In [14]:
print(We are learning with Aammar)  #syntax error

print(25/0) #runtime error

name= "Aammar"
print("Hello name")  #symentic error

SyntaxError: invalid syntax (Temp/ipykernel_157452/2214049846.py, line 1)